* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(209, 207, 204);
}

.header {
  display: flex;
  width: 100%;
  height: 15vh;
  background: rgb(1, 42, 74);
  background: linear-gradient(
    90deg,
    rgba(1, 42, 74, 1) 0%,
    rgba(1, 42, 74, 1) 26%,
    rgba(42, 111, 151, 1) 100%
  );
  align-items: center;
  justify-content: space-between;
}

#headerLogo {
  max-width: 20vh;
  padding: 0px 0px;
  flex: 1;
  margin-left: 80px;
}

.navLinks {
  width: 100%;
  flex: 1;
  margin-right: 80px;
}

#navButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container {
  width: 80%;
  margin: auto;
}
li {
  text-decoration: none;
  list-style: none;
}
li a:link,
a:visited {
  color: #a9d6e5;
  font-size: 1em;
  margin: 0 10px;
  padding: 5px 5px;
  text-decoration: none;
}
li a:hover {
  font-size: 1.5em;
  color: #ffffff;
}

.hero {
  display: flex;
  flex-direction: column;
  background: url(/img/samuel-girven-VJ2s0c20qCo-unsplash.jpg) no-repeat center
    center/cover;
  height: 85vh;
  position: relative;
  align-items: center;
}
.title {
  margin-top: 20vh;
  color: #ffffff;
  font-weight: bold;
  font-size: 6em;
}
.title2 {
  margin-top: 10px;
  color: #f6bd60;
  font-weight: bold;
  font-size: 3em;
}
#hello {
  color: rgb(59, 59, 59);
  font-size: 4em;
  margin-bottom: 30px;
}
.about {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
  align-items: center;
}
.selfie {
  width: 50%;

  max-width: 425px;
  max-height: 425px;
  background-color: white;
  border-radius: 50%;
}
.aboutMe {
  max-width: 30vw;
  /* margin: 60px 50px; */
  color: rgb(59, 59, 59);
  font-size: 1.5em;
  margin-bottom: 40px;
  margin-left: 50px;
}
.current {
  border-bottom: 2px solid #f6bd60;
}
.linebreak {
  width: 90%;
  height: 2px;
  border: rgb(59, 59, 59);
  background-color: rgb(59, 59, 59);
  border-radius: 3px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.services {
  display: flex;
  flex: space-between;
  margin-bottom: 50px;
}
.card {
  flex: 1;
  border: black 2px solid 200%;
  box-shadow: 10px 20px 15px grey;
  border-radius: 5px;
  padding: 20px 20px;
  text-align: center;
  background: #21344b;
  transition: 700ms ease-in;
}
.cardAmount {
  font-size: 3rem;
  color: #f6bd60;
}
.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3) {
  margin-right: 50px;
}
.card:nth-child(n):hover {
  box-shadow: 0px 20px 15px grey;
}
#servicesContainer {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
.cardTitle {
  /* text-transform: uppercase; */
  height: 30%;
  font-size: 1.2rem;
  color: rgb(211, 207, 207);
  padding-top: 20px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: rgba(255, 255, 255, 0.555) 1px solid;
  border-radius: 5%;
}
.cardDescription {
  color: rgb(187, 184, 184);
  padding-top: 20px;
  font-size: 1rem;
  padding-bottom: 10px;
}
.book {
  font-size: 2rem;
  color: #f6bd60;
  margin-bottom: 10px;
}
.book:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.1);
  transition: 350ms ease-in-out;
}

/* Contact Form */
.contactContainer {
  color: rgb(59, 59, 59);
  width: 600px;
  margin: auto;
  margin-bottom: 200px;
}
.formTitle {
  color: rgb(59, 59, 59);
  font-size: 4em;
  margin-bottom: 60px;
}
.formItem {
  display: flex;
  flex-direction: column;
}
.formItem > * {
  align-self: flex-start;
}
.form_label {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  padding: 10px 0;
}
.form_input {
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 600px;
  outline: none;
  border: 1px solid #6d6d6d;
  border-radius: 4px;
  height: 2.5rem;
  padding: 10px;
  font-size: 1rem;
  background-color: #dddddd;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}
.form_input:focus {
  background: rgb(255, 255, 255);
}
.form_input::placeholder {
  color: rgb(158, 158, 158);
}
select:invalid {
  color: rgb(158, 158, 158);
}
select:focus {
  color: black;
}
textarea.form_input {
  resize: none;
  min-height: 200px;
}

.form_btn {
  font-size: 1.1em;
  font-weight: 600;
  padding: 10px 16px;
  margin-top: 20px;
  background: #f6bd60;
  color: #21344b;
  border: 1px solid #192738;
  cursor: pointer;
  outline: none;
}
.form_btn:active {
  color: #f6bd60;
  background: #21344b;
}
/* media Queires */

@media only screen and (max-width: 1400px) {
  .about {
    flex-direction: column;

    margin: auto;
  }
  .selfie {
    margin-top: 3vh;
  }
  .aboutMe {
    max-width: none;
    width: 100%;
    margin: none;
    font-size: 1rem;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 900px) {
  .navLinks {
    display: none;
  }
  .header {
    justify-content: center;
  }
  #headerLogo {
    margin-left: 0px;
    max-width: 25vh;
  }
  .hero {
    justify-content: center;
    align-items: flex-start;
  }
  .title {
    color: #ffffff;
    font-weight: bold;
    font-size: 4em;
    margin-top: 0;
    margin-left: 40px;
  }
  .title2 {
    margin-left: 40px;
  }
  .container {
    margin: auto;
  }
  .about {
    flex-direction: column;

    margin: auto;
  }
  .selfie {
    max-width: 250px;
    max-height: 250px;
  }
  .aboutMe {
    max-width: none;
    width: 100%;
    margin: none;
    font-size: 1rem;
    margin-bottom: 0px;
  }
  #hello {
    font-size: 2em;
  }
  .services {
    display: flex;
    flex-direction: column;

    margin-bottom: 600px;
  }
  .card:nth-child(1) {
    margin-right: 0px;
  }
  .card:nth-child(2),
  .card:nth-child(3),
  .card:nth-child(4) {
    margin-right: 0px;
    margin-top: 30px;
  }
}
